// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'variable';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1 {
    margin-top: 100px;
}
.homeContainer {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    .homePicture {
        max-width: 50%;
    }
}
.adminNavLinks {
    text-decoration: none;
    color: $text-color;
}
.adminNavLinks:hover {
    text-decoration: none;
    color: $text-color;
}
